
.Ball1-container div {
  position: "absolute";
  background: rgb(4, 224, 96);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  padding: 100px;
  opacity: 10%;

}

.Ball2-container div {
  position: "absolute";
  background: rgb(5, 94, 64);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  padding: 60px;
  opacity: 10%;
}

.Ball3-container div {
  position: "absolute";
  background: rgb(238, 117, 4);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  padding: 100px;
  opacity: 10%;

}

.Ball4-container div {
  position: "absolute";
  background: rgb(122, 141, 51);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  padding: 100px;
  opacity: 10%;

}

