
.Ball1-container div {
  background: rgb(4, 224, 96);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  padding: 100px;
  margin: 100px;
  opacity: 10%;
}

.Ball2-container div {
  background: rgb(5, 94, 64);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  padding: 60px;
  opacity: 10%;
}

.Ball3-container div {
  background: rgb(238, 117, 4);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  padding: 100px;
  opacity: 10%;
}

.Ball4-container div {
  background: rgb(122, 141, 51);
  border-radius: 30px;
  width: 100px;
  height: 100px;
  padding: 100px;
  opacity: 10%;
}

.Ball5-container div {
  background: rgb(248, 57, 10);
  border-radius: 30px;
  width: 80px;
  height: 80px;
  padding: 100px;
  opacity: 10%;
}

